{{ define "character" }}
<div class="container mt-5 p-5 bg-dark rounded text-left fade-in">
    <div class="d-flex align-items-center">
        <div class="ml-1 mt-1 img-fluid">
            {{ if eq .Faction.Name "Horde" }}
            <img src="/assets/media/horde.png" alt="Horde Image" style="width: 150px; height: auto">
            {{ else if eq .Faction.Name "Alliance" }}
            <img src="/assets/media/alliance.png" alt="Alliance Image" style="width: 120px; height: auto">
            {{ end }}
        </div>
        <div class="ml-3">
            <ul class="list-unstyled">
                <li><strong class="mx-3" style="font-size: 1.5em">{{ .Name }} {{
                        .Level }} {{
                        .ActiveSpec.Name }} {{ .Class.Name }}</strong></li>
                <strong class="bi bi-shield-shaded mx-3" style="font-size: 1.5em"> Ilvl {{ .ItemLevel }}</strong><br>
                <strong class="bi bi-award mx-3" style="font-size: 1.5em"> {{ .AchievementPoints }}</strong><br>
                <strong class="bi bi-people mx-3" style="font-size: 1.5em"> {{ if .Guild.Name }}<{{ .Guild.Name }}>{{
                        end }}</strong>
            </ul>
        </div>
    </div>
    {{ if .MainRawImage }}
    <img src="{{ .MainRawImage }}" class="img-fluid" alt="Main Image">
    {{ end }}
    <div class="mx-3 text-center mr-3 ml-3 text-justify">
        <strong class="bi bi-heart-half mr-3 ml-3 text-success" style="font-size: 1.5em"> Health {{ .Health }} </strong>
        <strong class="bi bi-lightning mr-3 ml-3 text-warning" style="font-size: 1.5em"> {{ .PowerType.Name }} {{ .Power
            }} </strong>
        <strong class="bi bi-shield-plus mr-3 ml-3 text-primary" style="font-size: 1.5em"> Stamina {{ .Stamina.Effective
            }} </strong>
    </div>
</div>
{{ end }}