{{ define "form" }}
<div class="my-3 mx-3">
    <form action="/" method="get">
        <div class="form-group my-3 mx-3">
            <select class="form-control my-3 mx-3" id="region" name="region" aria-placeholder="eu">
                <option for="realm">eu</option>
                <option for="realm">us</option>
            <label for="realm">Realm</label>
            <input type="text" class="form-control my-3 mx-3" id="realm" name="realm" placeholder="darkspear">
            <label for="character">Character Name</label>
            <input type="text" class="form-control my-3 mx-3" id="character" name="character" placeholder="tempests">
        </div>
        <button type="submit" class="my-3 mx-3">Submit</button>
    </form>
</div>
{{ end }}