@tailwind base;
@tailwind components;
@tailwind utilities;

.Warrior {
    background-color: #C79C6E;
  }
  
  .Paladin {
    background-color: #F58CBA;
  }
  
  .Hunter {
    background-color: #ABD473;
  }
  
  .Rogue {
    background-color: #FFF569;
  }
  
  .Priest {
    background-color: #FFFFFF;
  }
  
  .Deathknight {
    background-color: #C41F3B;
  }
  
  .Shaman {
    background-color: #0070DE;
  }
  
  .Mage {
    background-color: #69CCF0;
  }
  
  .Warlock {
    background-color: #9482C9;
  }
  
  .Monk {
    background-color: #00FF96;
  }
  
  .Druid {
    background-color: #FF7D0A;
  }
  
  .Demonhunter {
    background-color: #A330C9;
  }
  
  .Evoker {
    background-color: #33937F;
  }